<!DOCTYPE html>
<html xmlns:="http//www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Modificar Categoria</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
 
    </head>
    <body> 
        <div class="container">
        
        <h1>Gestion de Categoria</h1>
        <a type="button" class="btn btn-danger" th:href="@{/listadoCategorias}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${categoria}">
            
            <input type="hidden" name="cod_categoria" th:field="*{cod_categoria}"/>
            
            <br/>
            <label for="nombre"> Nombre </label>
            <input type="text" class="form-control" required name="nombre" th:field="*{nombre}"/>
            <br/>
            
            
            
            <input class="btn btn-success" type="submit" name="guardar" value="Guardar"/>
            
        </form>
        </div>
    </body>
</html>