<!DOCTYPE html><html xmlns:="http//www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Listado de Categorias</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    </head>
    <body> 
        <div class="container">
                    <header th:replace="layout/plantilla :: header " ></header>

            <br><br> 
        <a class="btn btn-primary" role="button" th:href="@{/agregar}"> Nueva Categoria</a>
       <br><br>
        <div th:if="${categorias != null and categorias.length > 0}">
            <table class="table table-hover">    
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                        
                    </tr> 
                </thead>
                <tbody>
                   <tr th:each="Categoria:${categorias}">
                        <td th:text="${Categoria.nombre}"></td>
                        
                                               <td>
                         <a th:href="@{/editar/}     + ${Categoria.cod_categoria}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                         <a th:href="@{/eliminar/}   + ${Categoria.cod_categoria}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                 
                        </td>
                    </tr>
                </tbody>     
                    
            </table>
        </div>
             <div th:if="${categorias.length ==0}">
                La lista de categorias está vacía.
        </div>
                    <footer th:replace="layout/plantilla :: footer " ></footer>

</div>
    </body>
</html>